body {
    padding-top: 5rem;
}
#maincontent {
    padding: 3rem 1.5rem;
}
footer {
    font-size: 150%;
}
.ais-Hits h3 {
    font-size: 1rem;
}

article.reader {
    font-family: 'Roboto Slab', serif;
}

article.reader p{
    line-height: 1.9rem;
    text-align: justify;
    text-indent: 3rem;
}