    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/jquery.event.move.js"></script>
	<script src="/js/jquery.twentytwenty.js"></script>
	<script>
		$(function(){
			$(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({
				default_offset_pct: 0.5, // How much of the before image is visible when the page loads
				before_label: 'Régen', // Set a custom before label
				after_label: 'Most', // Set a custom after label
			});

		});
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>
{% include tracking.html %}