	<head>
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{% if page.author %}{{ page.author | escape }}{% else %}{{ site.author | escape }}{% endif %}">
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description| strip_html | strip_newlines | truncate: 160 }}{% endif %}">
		{% include ogp.html %}

		<link rel="icon" href="/favicon-96x96.png">

		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ "/css/main.css?v2" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href={{ "/css/chunk-vendors.f36d7a4c.css" | prepend: site.baseurl }} rel=preload as=style>
		<link href={{ "/js/app.afd12267.js" | prepend: site.baseurl }} rel=preload as=script>
		<link href={{ "/js/chunk-vendors.4b60c624.js" | prepend: site.baseurl }} rel=preload as=script>
		<link href={{ "/css/chunk-vendors.f36d7a4c.css" | prepend: site.baseurl }} rel=stylesheet>
	</head>
