---
layout: default
---
<h4 id="közszféra-állásajánlatai-karancsságon-és-a-környező-településeken">Közszféra állásajánlatai Karancsságon és a környező településeken</h4>

<p>A <a href="https://kozigallas.gov.hu/" target="_blank">kozigallas.gov.hu</a> oldalról.</p>

<div id="app">
    <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-md-8">
            <div>
                <strong>{{ page.type }}</strong>
                <h1 >
                    <a class="text-dark" href="{{ page.link }}" target="_blank">{{ page.position }}</a>
                </h1>
                <div class="text-muted">Határidő: {{ page.deadline }}</div>
                <p class="">
                    Közzétevő: <b>{{ page.publisher }}</b><br/>
                    {% if page.publishedTS %}
                    <small>Közzétéve: <b>{{ page.publishedTS| date: "%Y-%m-%d" }}</b></small><br/>
                    {% endif %}
                    Munkavégzés helye: <b>{{ page.place }}</b>
                </p>
                <a href="https://api.karancssag.info/jump/{{ page.jumpPageData }}" class="btn btn-info" target="_blank">Tovább a jelentkezéshez</a>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <img
                    class="card-img-right flex-auto d-none d-md-block"
                    data-src="https://api.karancssag.info{{ page.image }}"
                    alt="Screenshot" style="width: 100%;"
                    src="https://api.karancssag.info{{ page.image }}"
                    data-holder-rendered="true" />
        </div>
    </div>
</div>

<p class="mt-5 text-muted"><em>Az indexkép <a href="https://www.pexels.com/hu-hu/@sora-shimazaki?utm_content=attributionCopyText&amp;utm_medium=referral&amp;utm_source=pexels">Sora Shimazaki</a> fotója a <a href="https://www.pexels.com/hu-hu/foto/uzletember-ferfi-no-hordozhato-szamitogep-5668859/?utm_content=attributionCopyText&amp;utm_medium=referral&amp;utm_source=pexels">Pexels</a> oldaláról.</em></p>
