---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article class="post">
  {% if page.topImage %}
    <img src="{{ page.topImage }}" class="img-fluid" alt="Responsive image">
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time>{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if author %} •
      <span>
        <span>{{ author.name }}</span>
      </span>
      {% endif %}
      <div class="sharethis-inline-share-buttons"></div>
    </p>
  </header>

  <p>
    {{ content }}
  </p>
  <div class="sharethis-inline-reaction-buttons"></div>
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}

</article>
